# Don't commit secrets :3
secrets.tfvars
secrets.env
.env
tempdir/
admin.conf

# Terraform stuff
.terraform/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup

kubernetes/*/*/charts/