#
# Set these before running the makefile
#

export COMIC_VINE_API_KEY="1234abcde"

export NFS_SERVER_IP="192.168.0.123"

# Cloudflare stuff for automatic cert gen/tunnels
export CLOUDFLARE_API_EMAIL="me@example.com"
export CLOUDFLARE_API_KEY="1234abcde"
export CLOUDFLARED_TUNNEL_CREDS="/home/me/.cloudflared/foo.json"

#export PROXMOX_VE_USERNAME="terraform-prov@pve"
export PROXMOX_VE_USERNAME="root@pam"
export PROXMOX_VE_PASSWORD="hunter2"

export PROXMOX_VE_NODE_1_IP="192.168.0.123"
export PROXMOX_VE_NODE_2_IP="192.168.0.123"
export PROXMOX_VE_NODE_3_IP="192.168.0.123"
export PROXMOX_VE_NODE_1_NAME="server-01"
export PROXMOX_VE_NODE_2_NAME="server-02"
export PROXMOX_VE_NODE_3_NAME="server-03"

# This is for ansible, it's not auto generated, change manually if needed

export KUBERNETES_CLUSTER_NAME=home-cluster
export KUBERNETES_IPS=192.168.0.51 192.168.0.52 192.168.0.53
export KUBERNETES_PRIMARY_IP=192.168.0.51
# Kubespray takes nodes in the format of 'name,ip' so we need to convert the above to that format
export KUBESPRAY_IPS='k8s-node-01,192.168.0.51 k8s-node-02,192.168.0.52 k8s-node-03,192.168.0.53' 

# No need to touch the stuff below, it's mostly for terraform
# Yeah it's a bit ugly but it ensures that the user only needs to set the above variables once and we can use them everywhere we need

export PROXMOX_IPS='$PROXMOX_VE_NODE_1_IP $PROXMOX_VE_NODE_2_IP $PROXMOX_VE_NODE_3_IP'

export TF_VAR_proxmox_ve_node_1_name=$PROXMOX_VE_NODE_1_NAME
export TF_VAR_proxmox_ve_node_2_name=$PROXMOX_VE_NODE_2_NAME
export TF_VAR_proxmox_ve_node_3_name=$PROXMOX_VE_NODE_3_NAME

export TF_VAR_proxmox_ve_node_1_ip=$PROXMOX_VE_NODE_1_IP
export TF_VAR_proxmox_ve_node_2_ip=$PROXMOX_VE_NODE_2_IP
export TF_VAR_proxmox_ve_node_3_ip=$PROXMOX_VE_NODE_3_IP

export TF_VAR_proxmox_ve_username=$PROXMOX_VE_USERNAME
export TF_VAR_proxmox_ve_password=$PROXMOX_VE_PASSWORD

export TF_VAR_ssh_public_key=$(cat ~/.ssh/id_rsa.pub)